{% extends "encyclopedia/layout.html" %}

{% block title %}
    Encyclopedia - Edit Page - {{ title }}
{% endblock %}

{% block body %}

    <h1>Edit Page - {{ title }}</h1>
    <form action="{% url 'encyclopedia:edit' %}" method="post">
        {% csrf_token %}
        <input type="hidden" name="title" value="{{ title }}">
        <label for="content">Content</label>
        <br>
        <textarea name="content" id="content" cols="30" rows="10">
            {{ content }}
        </textarea>
        <br>
        <input type="submit" value="Save">
    </form>

{% endblock %}